.side-right.side-right-m.feedback-form
  form
    .form-header У вас есть вопросы? Свяжитесь с нами

    +input('ФИО')

    +input('E-mail')

    +input('Тема сообщения')

    +textarea('Сообщение')

    +submit-button('Отправить')