head
  meta(charset='UTF-8')
  title Title
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo+2:300,400,600,700&amp;subset=cyrillic')
  link(rel='stylesheet' href='css/libs.css')
  link(rel='stylesheet' href='css/main.css')