- var imgPath = 'img/'

- var services = {1: 'Автоперевозка', 2: 'Перевозки рефрижератором', 3: 'Ж/Д перевозки', 4: 'Морские перевозки', 5: 'Авиаперевозки'}
- var curencies = {1: 'Тенге', 2: 'Рубль'}
- var cities = {1: 'Алматы', 2: 'Москва', 3: 'Новоибирск'}

- var menu = {links: ['about', 'services', 'tariffs', 'contacts'], titles: ['О компании', 'Услуги', 'Тарифы', 'Контакты']}
- var menuInfo = {links: ['', 'vacancies', 'faq', 'documents', ''], titles: ['Как отправить груз', 'Вакансии', 'Вопросы', 'Образцы документов', 'Франшиза']}
- var menuFooter = {links: ['order-delivery', ''], titles: ['Заказать доставку', 'Статус груза']}
- var menuServices = {links: {1: 'services-auto', 2: '', 3: '', 4: '', 5: ''}, titles: services}