- var imgPath = 'img/'

- var menu = {links: ['about', 'services', 'tariffs', 'contacts'], titles: ['О компании', 'Услуги', 'Тарифы', 'Контакты']}
- var menuInfo = {links: ['', 'vacancies', '', '', ''], titles: ['Как отправить груз', 'Вакансии', 'Вопросы', 'Образцы документов', 'Франшиза']}
- var menuFooter = {links: ['', ''], titles: ['Заказать доставку', 'Статус груза']}
- var menuServices = {links: ['', '', '', '', ''], titles: ['Автоперевозка', 'Перевозки рефрижератором', 'Ж/Д перевозки', 'Морские перевозки', 'Авиаперевозки']}

- var cities = {1: 'Алматы', 2: 'Москва', 3: 'Новоибирск'}