- var pageTitle = 'Доставка и отправка грузов с России'
include includes/header-all

section
  .container
    +breadcrumbs([pageTitle])

    .section-title=pageTitle

    .side-container.side-container-l
      .box
        .content
          p Наша компания может организовать для Вас доставку грузов любого веса и объема из России и Белоруссии в Казахстан любым видом транспорта.
          p.p-header Доставка сборных грузов из России и Белоруссии в Казахстан
          p Мы рады предложить доставку сборных грузов от 1 кг до 20 тонн практически из любой точки Российской Федерации и Республики Беларусь во все регионы Республики Казахстан автомобильным транспортом.
          p Стоимость доставки на данные услуги Вы можете рассчитать самостоятельно с помощью нашего тарифного калькулятора. Либо Вы можете связаться с нами по указанным контактам и Вам посчитают ставку по телефону, либо Вы можете оставить Ваш запрос на сайте, и мы сами свяжемся с Вами и сообщим стоимость доставки.
          p.p-header Схема доставки сборных грузов из России и Белоруссии в Казахстан
          p Доставка сборных грузов из России и Белоруссии осуществляется по следующей схеме.
          p После подписания договора и заявки с нами, наши партнеры свяжутся с Вашим отправителем и заберут груз в согласованное с отправителем время.
          p Далее груз будет доставлен до одного из консолидационных терминалов в России, откуда наша машина заберет и доставит груз до консолидационного терминала в Казахстане. После этого груз будет доставлен либо до нашего склада в городе назначения, либо до «двери» получателя, в зависимости от договоренности.
          p По остальным интересующим Вас вопросам, Вы можете найти ответ в разделе Вопросы и ответы, либо задать нам вопрос, воспользовавшись формой обратной связи.
          p Помимо доставки сборных грузов автотранспортом, мы можем предложить Вам доставку грузов целыми автомашинами, самолетом или железной дорогой. Для расчета ставок Вы можете оставить запрос на сайте, или связаться с нами по указанным контактам, и мы постараемся ответить Вам в кратчайшие сроки

        .floated-buttons
          a(class='button button_default button_prev') Украина
          a(class='button button_default button_next') Белорусия

    form(class='side-form side-form-s services-form')
      .form-notice Стоимость доставки сборных грузов из Российской Федерации в Республику Казахстан Вы можете рассчитать самостоятельно, с помощью нашего
        a(href='calculator.html')= ' тарифного калькулятора.'

      hr

      .form-header Онлайн-заявка

      +radio('Вы', ['Отправитель', 'Получатель'], 'youare')

      +date('Планируемая дата отгрузки:')

      +submit-button('Продолжить оформление')

      hr.form-delimiter

      .form-notice или оставить запрос на сайте, и мы сами свяжемся с Вами и сообщим стоимость доставки

      .group
        a(class='button button_default') Оставить запрос

    .clear

include includes/footer