- var pageTitle = 'Вопросы'
include includes/header-all

section
  .container
    +breadcrumbs([pageTitle])

    .section-title=pageTitle

    .side-container.side-container-m
      .box
        .content
          p Тут вы можете найти ответына часто задаваемые вопросы, елси интерисующего вас вопроса, нет, пожайлуста свяжитесь с нами по форме на этой странице

          .accordeon
            .accordeon-item
              .accordeon-title Как оформить заявку на отправку груза
              .accordeon-description
                .accordeon-description-inner
                  p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение.
            .accordeon-item
              .accordeon-title Могу ли я получить более детальную информацию о грузе
              .accordeon-description
                .accordeon-description-inner
                  p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение.
                  p: a(href='') Личный кабинет


    include includes/feedback-form

    .clear

include includes/footer