- var pageTitle = 'Заказать доставку'
include includes/header-all

section
  .container
    +breadcrumbs([pageTitle])

    .section-title=pageTitle

    .section-notice Заполните форму необходимыми данными и отправьте. При возникновении трудностей в заполнении заявки обратитесь <br>к менеджеру информационно-справочной службы по телефону: <b>+7 (727) 279 90 37</b>

    .side-menu
      ul
        li

    .side-container.side-container-s
      .box
        .content
          p На данной странице Вы можете скачать образцы всех документов, необходимых для начала сотрудничества с нашей компанией.
          p Для начала сотрудничества с нашей компанией, Вам необходимо заключить с нами Договор и подписать Заявку.
          p Договор является генеральным и имеет неограниченный срок действия, достаточно подписать его только один раз.
          p Заявка заполняется на каждую перевозку в отдельности.

        ul.download-documents
          li
            img(src=imgPath + 'document.png')
            a(href='') Скачать Заявку
            span (для направлений Россия - Казахстан)
          li
            img(src=imgPath + 'document.png')
            a(href='') Скачать прайс-лист
            span (на ответ.хранение грузов в тенге)

    .side-form.side-form-s

    .clear

include includes/footer