- var pageTitle = 'Тарифы'
include includes/header-all

section
  .container
    +breadcrumbs([pageTitle])

    .section-title=pageTitle

    .side-container.side-container-l
      .box
        .content
          p.p-header Основные услуги перевозки, которые мы оказываем:
          +list(['доставка грузов от 1 кг из любой точки России и Беларуси во все регионы Казахстана (всеми видами транспорта)', 'доставка грузов от 1 кг из любой точки Европы во все регионы Казахстана и Средней Азии (всеми видами транспорта)', 'доставка грузов по Казахстану'])

          p.p-header Виды перевозок, которые мы осуществляем:
          +list(['автоперевозки (консолидированные отправки и отправки полными грузовиками)', 'железнодорожные перевозки (контейнерные, вагонные и мультимодальные)', 'авиаперевозки', 'морские перевозки'])

          p.p-header Дополнительные услуги, которые мы оказываем:
          +list(['адресная доставка грузов (доставка по городу в пунктах отправки и назначения)', 'страхование грузов', 'вооруженное охранное сопровождение грузов', 'складирование, сортировка, (пере)упаковка грузов'])

          p.p-header Виды грузов, которые мы перевозим:
          +list(['стандартные грузы от 1 кг (отправки консолидированных машин по графику)', 'опасные грузы', 'крупногабаритные и сверхтяжелые грузы', 'дорогостоящие грузы', 'грузы, требующие температурный режим'])

    form(class='side-form side-form-s services-form')
      .form-notice Стоимость доставки сборных грузов из Российской Федерации в Республику Казахстан Вы можете рассчитать самостоятельно, с помощью нашего
        a(href='calculator.html')= ' тарифного калькулятора.'

      hr

      .form-header Онлайн-заявка

      +radio('Вы', ['Отправитель', 'Получатель'], 'youare')

      +date('Планируемая дата отгрузки:')

      +submit-button('Продолжить оформление')

      hr.form-delimiter

      .form-notice Также Вы можете связаться с нами

      table.form-contacts
        tr
          td: img(src=imgPath + 'footer-phone.png')
          td
            div: a(href='tel:+7 (727) 279 90 37') +7 (727) 279 90 37
            div: a(href='tel:+7 (727) 246 84 85') +7 (727) 246 84 85
        tr
          td: img(src=imgPath + 'footer-email.png')
          td: a(href='mailto:absl@absl.kz') absl@absl.kz

      .form-notice или оставить запрос на сайте, и мы сами свяжемся с Вами и сообщим стоимость доставки

      .group
        a(class='button button_default') Оставить запрос

    .clear

include includes/footer