#colors() {
  primary: #032042;
  top-menu-link: #a5bcd1;
  text: #494949;
  link-active: #ffffff;
  button-primary: #fdb813;
  button-primary-hover: #ecaa0d;
  static: #d5dfe1;
  hover: #79a5cd;
  hover-text: #005aab;
  black: #000000;
}