.group {
  position: relative;
  margin-top: 30px;
  .error-message {
    display: none;
    color: #colors[error];
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 8px;
  }
  &.error {
    input[type=text], input[type=email], input[type=tel], input[type=password] {
      border-bottom-color: #colors[error];
    }
    .error-message {
      display: block;
    }
  }
}

.group-select {
  margin-top: 40px;
}

input[type=text], input[type=email], input[type=tel], input[type=password] {
  width: 100%;
  padding: 7px 0;
  display: block;
  border: none;
  border-bottom: 2px solid #colors[static];
  background-color: transparent;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 7px 5px;
  display: block;
  border: 2px solid #colors[static];
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
input ~ label {
  color: #colors[label];
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  margin-bottom: 0;
}

/* active state */
.focused {
  input ~ label, input ~ label {
    top: -12px;
    font-size: 12px;
    color: #colors[text];
  }
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #colors[hover];
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.group:not(.group-select) {
  .highlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.selectize-control {
  .selectize-input {
    border-radius: 0;
    border: 1px solid #colors[static];
    box-shadow: none;

    &:hover {
      border-color: #colors[hover];

      &:after {
        border-color: #colors[hover];
      }
    }
  }

  &.single .selectize-input {
    &:after {
      .arrow('down');
      border-width: 2px;
      width: 3px;
      height: 3px;
    }

    &.dropdown-active:after {
      .arrow('up');
      border-width: 2px;
      width: 3px;
      height: 3px;
      margin-top: -1px;
    }
  }
}

select ~ label {
  position: absolute;
  top: -22px;
}

.radio-group {
  .radio-title {
    color: #colors[primary];
    font-weight: bold;
    margin-bottom: 20px;
  }

  input[type=radio] {
    display: none;

    &:checked + label {
      &:after {
        opacity: 1;
      }
    }
  }

  label, input + label {
    top: auto;
    font-size: 13px;
    position: relative;
    padding-left: 30px;
    pointer-events: auto;
    cursor: pointer;
    color: #colors[text];

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #colors[static];
      border-radius: 50%;
      transition: @transition-duration;
    }

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #colors[hover-text];
      transition: @transition-duration;
      opacity: 0;
    }

    &:hover:before {
      border-color: #colors[hover];
    }
  }

  &.radio-group_vertical {
    .radio-input {
      margin-bottom: 10px;
    }
  }

  &.radio-group_horizontal {
    .radio-input {
      display: inline-block;
      margin-right: 35px;
    }
  }
}

input[type=checkbox] {
  display: none;
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
  & + label {
    top: auto;
    font-size: 13px;
    position: relative;
    padding-left: 30px;
    pointer-events: auto;
    cursor: pointer;
    color: #colors[text];

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #colors[static];
      transition: @transition-duration;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      width: 15px;
      height: 15px;
      transition: @transition-duration;
      opacity: 0;
      background: url("@{images-dir}tick.png") no-repeat 50% 50%;
    }

    &:hover:before {
      border-color: #colors[hover];
    }
  }
}

.checkbox-group {
  margin-top: 20px;
}